/**
  card
*/
.card {
    width:209px;
    position:relative;
  }
  
  .actions-buttons {
    position: absolute;
    top: 5px;
    right: 7px;
    display: flex;
  }
  
  .actions-buttons svg {
    cursor: pointer;
  }
  
  .avatar {
    border-radius: 50%;
    width: 75px;
    height:75px;
  }
 
  .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .user_name {
    margin:10px 0;
  }